@keyframes UpDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.svg {
  height: 28px;
  width: 28px;
  stroke: rgba(34, 37, 42, 1);
  background-color: transparent;
  &:hover,
  &:focus {
    scale: 1.2;
    stroke: rgba(139, 170, 54, 1);
  }
}
/* .relative {
  position: relative;
} */

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(235, 243, 212, 1);
  background-image: url('../../../images/bgc/menu_mob_1x.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  animation-name: UpDown;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 111111;

  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../../images/bgc/menu_mob_2x.png');
  }
}

@media screen and (min-width: 768px) {
  .modalOverlay {
    background-image: url('../../../images/bgc/menu_tab_1x.png');
    font-size: 24px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modalOverlay {
      background-image: url('../../../images/bgc/menu_tab_2x.png');
    }
  }
}

.modalContent {
  width: 100%;
  height: 100%;
}

.logoModal {
  position: absolute;
  top: 4%;
  left: 10%;
}

.cross {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 4%;
  right: 10%;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .svg {
    height: 32px;
    width: 32px;
  }
}
