.footer {
  margin: 0 auto;
  width: 100%;
  color: #fafafa;
  background-image: url(../../../images/bgc/404_spinach_bottom_bg_mob_1x.png);
  background-repeat: no-repeat;

  background-position: 100% 100%;
  background-size: 172px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .footer {
    background-image: url('../../../images/bgc/404_spinach_bottom_bg_mob_2x.png');
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    background-image: url(../../../images/bgc/404_spinach_bottom_bg_tab_1x.png);
    background-position: 100% 96%;
    background-size: 290px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url('../../../images/bgc/404_spinach_bottom_bg_tab_2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    width: 100%;

    background-image: url(../../../images/bgc/404_spinach_bottom_bg_desk_1x.png);
    background-position: 100% 100%;
    background-size: 25%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url(../../../images/bgc/404_spinach_bottom_bg_desk_2x.png);
    }
  }
}

.container {
  background-color: rgba(34, 37, 42, 1);
  padding-bottom: 18px;
}

.footer_text {
  display: flex;
  justify-content: center;
  padding: 28px 0;
  font-family: 'Poppins_Medium';
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #22252a;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .footer_text {
    font-size: 14px;
    line-height: 14px;
    padding: 32px 0;
  }
  .container {
    padding-bottom: 24px;
  }
}

.footer_text_service {
  font-family: 'Poppins_Regular';
  margin-left: 14px;
}

@media screen and (min-width: 768px) {
  .footer_text_service {
    margin-left: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .footer_text_service {
    margin-left: 40px;
  }

  .container {
    padding-bottom: 40px;
  }
}
