.footer {
    padding-top: 28px;
    padding-bottom: 18px;
    color: #FAFAFA;
    background-color:  rgba(34, 37, 42, 1);
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 24px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: normal;
        justify-content: space-around
    }
}
.wrapper {
    display: none;
    padding-top: 0;
}
    
  @media screen and (min-width: 768px) {
    .wrapper {
        display: block;
        padding-top: 0;
    }
}

.title {
 
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.015em;
    text-align: left;
    margin-bottom: 32px;  
}

.list {
list-style:inside;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;

}

.item {
padding-bottom: 10px;
}

.footer_text {
    height: 102px;
}