@media screen and (min-width: 375px) {
    .container {
        padding: 50px 16px 0 16px;

    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 72px 32px 0 32px;

    }

    .section_wrapp {
        max-width: 768px;
        margin: auto;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 102px 100px 0 100px;
    }

    .section_wrapp {
        min-width: 1440px;
        margin: auto;
    }
}

.tablist {
    padding-bottom: 100px;
}