.UserLogoModal {
  position: absolute;

  top: 55px;
  right: 80px;
  width: 177px;
  height: 134px;
  z-index: 11111;
  width: 161px;
  height: 130px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: rgba(250, 250, 250, 1);

  border-radius: 8px;
}
.UserLogoModal_button {
  background-color: transparent;
  color: green;
  border-radius: 24px 44px;
  border: 1px solid green;
  color: rgba(35, 38, 42, 1);
  padding: 12px 24px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 43px; */
  text-align: center;

  /* &:hover {
    background-color: rgba(139, 170, 54, 1);
    color: rgba(250, 250, 250, 1);
    &span svg {
      stroke: rgba(250, 250, 250, 1);
    }
  } */
}

.UserLogoModal_button:hover {
  background-color: rgba(139, 170, 54, 1);
  color: rgba(250, 250, 250, 1);

  /* Select the span inside the button and its child SVG */
  & span svg {
    stroke: rgba(250, 250, 250, 1);
  }
}

.UserLogoModal_buttonSVG {
  stroke: rgba(35, 38, 42, 1);
  padding-left: 4px;

  &:hover {
    background-color: rgba(139, 170, 54, 1);
    stroke: rgba(250, 250, 250, 1);
  }
}

.UserLogoModal_editButton {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  display: flex;
  justify-content: space-between;
  & span svg {
    stroke: black;
  }
  /* &:hover {
    color: rgba(139, 170, 54, 1);
    & svg {
      stroke: rgba(139, 170, 54, 1);
    }
  } */
}
.UserLogoModal_editButton:hover {
  color: rgba(139, 170, 54, 1);

  /* Select the svg inside the button */
  & span svg {
    stroke: rgba(139, 170, 54, 1);
  }
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .UserLogoModal {
    top: 80px;
    right: 120px;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .UserLogoModal {
    right: 130px;
  }
}
