@media screen and (min-width: 375px) {
        .container{
            padding: 114px 16px 0 16px; 
            position: relative;
            width: 375px;
            margin: 0 auto;
        }
        
    }
    @media screen and (min-width: 768px) {
        .container{
          padding: 136px 32px 0 32px;
          width: 768px;
        }
       
    }
  
    @media screen and (min-width: 1440px) {
       .container{  
           padding: 164px 100px 0 100px;
           width: 1440px;
        }
    }
        