:root {
  --COLORTEXT: #22252a;
  --PRIMARYCOLOR: #8baa36;
}

.section {
  padding-top: 32px;
  padding-bottom: 50px;
}

.wrapper_title_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--PRIMARYCOLOR);
  width: 343px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 14px;
  margin: 0 auto 24px;
}

.title_table {
  color: #fafafa;
  font-family: Poppins_Bold;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.title_table_position {
  margin-left: 122px;
}

.ingredients_list li:not(:last-of-type) {
  margin-bottom: 16px;
}

.ingredients_list {
  width: 343px;
  margin: 0 auto;
}

@media screen and (min-width: 767.98px) {
  .section {
    padding-top: 50px;
    padding-bottom: 96px;
  }

  .wrapper_title_table {
    height: 60px;
    padding: 21px 32px;
    margin-bottom: 32px;
    width: 704px;
  }

  .title_table {
    font-size: 18px;
    letter-spacing: 0.54px;
  }

  .title_table_position {
    margin-left: 312px;
  }

  .ingredients_list li:not(:last-of-type) {
    margin-bottom: 24px;
  }

  .ingredients_list {
    width: 704px;
  }
}

@media screen and (min-width: 1439.98px) {
  .section {
    padding-bottom: 100px;
  }

  .wrapper_title_table {
    padding: 21px 40px;
    margin-bottom: 50px;
    width: 1240px;
  }

  .title_table_position {
    margin-left: 761px;
  }

  .ingredients_list {
    width: 1240px;
  }
}
