.tabPhoto{
            display: none;
        }
        .paginationWrap{
            margin: 0 auto;
        }
        .text{
            font-family: "Poppins_Medium", sans-serif;
           
        }
        .center{
            text-align: center;
        }
@media screen and (min-width: 375px) {
        .container{
            padding: 50px 16px 0 16px; 
            position: relative;
            
        }
            .mobPhoto{
            margin: 0 auto;
        }
        .tabPhoto{
            display: none;
        }
    }
    @media screen and (min-width: 768px) {
        .container{
          padding: 72px 32px 0 32px;
        }
          .mobPhoto{
            display: none;
          
        }
          .tabPhoto{
            display: block;
            margin: 0 auto;
        }
    }
  
    @media screen and (min-width: 1440px) {
       .container{  
           padding: 102px 100px 0 100px;
        }
    }
        .paginationWrap{
        width: 275px;
        height: 51px;
        border-radius: 26px;
        background: #FAFAFA;
        box-shadow: 0px 4px 4px 0px rgba(135, 135, 135, 0.20);
        display: flex;
        align-items: center;
    }