.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  rgba(34, 37, 42, 1);
    padding-top: 28px;
    padding-bottom: 18px;
        
    }
    @media screen and (min-width: 768px) {
        .container {
            padding-left: 32px;
            flex-wrap: wrap;
            flex-direction: row;
            padding-top: 50px;
            padding-bottom: 24px;
        }
    }

    @media screen and (min-width: 1440px) {
        .container {
            justify-content: space-around;
            padding-top: 64px;
            padding-bottom: 50px;
            align-items:first baseline;
        }
    }
.wrapper {
    display: none;
    padding-top: 0;
    }
        
    @media screen and (min-width: 768px) {
        .wrapper {
            display: block;
            padding-top: 0;
            
        }
    }

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
     
}    

@media screen and (min-width: 768px) {
    .logo {
       
       margin-bottom: 24px;
        
    }
}
@media screen and (min-width: 1440px) {
    .logo {
       width: 200px;
       margin-bottom: 40px;
       height: 50px;
        
    }
}
    
.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.015em;
    text-align: left;
    margin-left: 8px;
    
    
    }

    @media screen and (min-width: 768px) {
        .title {
         font-size: 28px;
         line-height: 28px;

        }
    }
    
.list {
    list-style:inside;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    
    }

    @media screen and (min-width: 1440px) {
        .list {
        font-size: 18px;
        line-height: 24px;

        }
    }
    
.item {
    padding-bottom: 10px;
    }    

   

