.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
  margin-bottom: 44px;
  font-family: 'Poppins_Regular';
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  .container {
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 50px;
    margin-bottom: 38px;
  }

  .inner_container {
    display: flex;
    gap: 175px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 64px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: self-start;
    gap: 15%;
  }
  .inner_container {
    padding-left: 0;
    min-width: 46%;
    flex-grow: 2;
    gap: 15%;
  }
}
.wrapper {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: block;
    padding-top: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .logo {
    width: 200px;
    margin-bottom: 40px;
    height: 50px;
  }
  .wrapper {
    padding-left: 20px;
    width: 418px;
  }
}

.title {
  font-family: 'Poppins_Bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.015em;
  text-align: left;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 28px;
  }
}

.list {
  list-style: inside;
  font-family: 'Poppins_Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}

@media screen and (min-width: 1440px) {
  .list {
    font-size: 18px;
    line-height: 24px;
    list-style: disc;
  }
}

.item {
  padding-bottom: 10px;
}
