.list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.list_item {
    position: relative;
}

.list_item:not(:first-child) {
    display: none;
}

@media screen and (min-width: 768px) {
    .list_item{
        width: 336px;
       
       
    }
    .list_item:not(:first-child) {
        display: block;
        margin-left: 32px;
    }

    .list_item:nth-child(even){
        
        display: none;
    }
  
    }
    @media screen and (min-width: 1440px) {
    .list_item{
        width: 300px;
    }
    .list_item:nth-child(even){
        
        display: block;
       
    }
    }

.list_title {
    width: 307px;
    height: 52px;
    color: #3E4462;
    background-color: #FFFFFF;
    position: absolute;
    top: 280px;
    right: 18px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
    text-align: left;
   border-radius: 8px;
padding: 16px 0px 16px 16px;
}

@media screen and (min-width: 768px) {
    .list_title {
        width: 300px;
        top: 280px;
        left: 20px;
       padding: 16px 0px 16px 16px;
    }
    }
    @media screen and (min-width: 1440px) {
        .list_title {
            width: 268px;
            padding: 16px 0px 46px 16px;
            align-items: center;
        }
        }
.img {
    border-radius: 8px;
    width: 343px;
    height: 323px;
    margin-top: 32px;
    position: relative;
} 

@media screen and (min-width: 768px) {
    .img {
        width: 336px;
    }
}

@media screen and (min-width: 1440px) {
    .img {
        width: 300px;
    }
}