.container {
    display: flex;
    justify-content: space-around;
    }

    @media screen and (min-width: 768px) {
        .container {
            padding-left: 285px;
        }
    }  
   
    @media screen and (min-width: 1440px) {
        .container {
          margin-top: 41px;
          padding-right: 270px;
        }
    } 

.list {
    display: flex;
    align-items: center;
}  

.item:not(:first-child) {
  margin-left: 14px;
}

@media screen and (min-width: 768px) {
    .item:not(:first-child) {
        margin-left: 18px;
      }
}