.container {
  display: flex;
  justify-content: space-around;
}


@media screen and (min-width: 1440px) {
  .container {
    justify-content: center;
    margin-left: 0px;
  }
}

.list {
  display: flex;
  align-items: center;
}

.item:not(:first-child) {
  margin-left: 14px;
}

@media screen and (min-width: 768px) {
  .item:not(:first-child) {
    margin-left: 18px;
  }
}

.soc_icon {
  fill: #8baa36;

  transition: fill 250ms linear;
}

.soc_icon:hover,
.soc_icon:focus {
  fill: #ffffff;
}
