.UserLogoContainer {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 18px;
}

.avatarHeaderImg {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  @media screen and (min-width: 768px) {
    width: 44px;
    height: 44px;
  }
}
.nickName {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0em;
  text-align: left;
}

.UserLogoutModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  top: 60px;
  right: 30px;
  z-index: 11111;
  background-color: rgba(250, 250, 250, 1);
}
.UserLogoutModalText {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  position: relative;
}

.UserLogoutModalText p {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
}

.UserLogoutModalButtons {
  display: flex;
  flex-direction: raw;
  gap: 8px;
}
.UserLogoutModalButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(217, 217, 217, 1);
  color: rgba(35, 38, 42, 1);
  padding: 21px 39px;
  border-radius: 6px;

  &:hover {
    background-color: rgba(139, 170, 54, 1);
    color: rgba(250, 250, 250, 1);
  }
}

.cross {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -22px;
  left: 243px;
  z-index: 11112;
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .UserLogoutModal {
    width: 330px;
    height: 180px;
  }
}
@media screen and (min-width: 768px) {
  .UserLogoModal {
    margin-top: 30px;
    top: 60px;
    right: 120px;
    width: 177px;
    height: 134px;
    gap: 32px;
  }

  .UserLogoutModal {
    width: 480px;
    height: 215px;
    top: 60px;
    right: 120px;
  }
  .UserLogoutModalText {
    margin-bottom: 32px;
  }
  .cross {
    width: 24px;
    height: 24px;
    top: -27px;
    left: 333px;
  }
  .UserLogoutModalButtons {
    gap: 16px;
  }

  .UserLogoutModalText p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .UserLogoutModal {
    width: 500px;
    height: 215px;
    padding: 50px;
    top: 60px;
    right: 130px;
  }

  .UserLogoutModalText {
    margin-left: auto;
    margin-bottom: 32px;
  }

  .cross {
    width: 24px;
    height: 24px;
    top: -33px;
    left: 345px;
  }
}
