.AuthNav__wrap {
  display: flex;
  justify-content: center;
}
.AuthNav__button_reg,
.AuthNav__button_sign {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 24px;

  background-color: transparent;

  border-radius: 24px 44px;

  text-align: center;
  color: #fafafa;
  border: 2px solid #fafafa;

  cursor: pointer;
  text-decoration: none;
  font-family: 'Poppins_Regular';
  transition: background-color 250ms linear;
}

.AuthNav__button_reg {
  background-color: #8baa36;

  border-color: transparent;
  margin-right: 12px;

  transition: background-color 250ms linear;
}

.AuthNav__button_reg:hover,
.AuthNav__button_reg:focus {
  background-color: transparent;
  border-color: #fafafa;
  /* color: #8baa36; */
  color: #fafafa;
}

.AuthNav__button_sign:hover,
.AuthNav__button_sign:focus {
  background-color: #8baa36;
  border-color: transparent;
  color: #fafafa;
}

@media screen and (min-width: 768px) {
  .AuthNav__button_reg,
  .AuthNav__button_sign {
    padding: 22px 44px;

    font-size: 16px;
  }
  .AuthNav__button_reg {
    margin-right: 18px;
  }
}
