.AuthNav__wrap {
  display: flex;
  justify-content: center;
}

.AuthNav__button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 24px;

  background-color: transparent;

  border-radius: 24px 44px;

  text-align: center;
  color: #fafafa;
  border: 2px solid #fafafa;

  cursor: pointer;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    padding: 22px 44px;

    font-size: 16px;
  }

  &:nth-of-type(2) {
    margin-left: 12px;

    @media screen and (min-width: 768px) {
      margin-left: 18px;
    }
  }

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #8baa36;
    border-color: transparent;
  }
}
