.list {
  display: flex;
  gap: 28px;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.list_item {
  position: relative;
  transition: transform 500ms ease;
}
.list_item:hover,
.list_item:focus {
  transform: scale(1.02);
}

@media screen and (min-width: 768px) {
  .list {
    gap: 32px;
  }
  .list_item {
    width: 336px;
  }
}
@media screen and (min-width: 1440px) {
  .list {
    gap: 12px;
  }
  .list_item {
    width: 300px;
  }
  .list_item:nth-child(even) {
    display: block;
  }
}

.list_title {
  width: 262px;
  /* height: 44.4px; */
  height: fit-content;
  color: #3e4462;
  background-color: #ffffff;
  position: absolute;
  /* top: 239px; */
  bottom: 22px;
  right: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.24px;
  text-align: left;
  border-radius: 8px;
  padding: 16px;
  text-align: left;
}

@media screen and (min-width: 375px) {
  .list_title {
    width: 307px;
    /* height: 52px; */
    /* top: 280px; */
    bottom: 26px;
    right: 18px;
  }
}

@media screen and (min-width: 768px) {
  .list_title {
    width: 300px;

    left: 20px;
    /* padding: 16px 0px 16px 16px; */
  }
}
@media screen and (min-width: 1440px) {
  .list_title {
    width: 268px;
    bottom: 102px;
    /* padding: 16px 0px 46px 16px; */
    align-items: center;
  }
}
.img {
  border-radius: 8px;
  width: 291.5px;
  height: 274.5px;
  /* margin-top: 32px; */
  position: relative;
}

@media screen and (min-width: 375px) {
  .img {
    width: 343px;
    height: 323px;
  }
}

@media screen and (min-width: 768px) {
  .img {
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .img {
    width: 300px;
    /* margin-top: 42px; */
    margin-top: 10px;
    margin-bottom: 78px;
  }
}
