.container {
    display: flex;
}
.list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.deleteBtn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.deleteBtnIcon {
    color: #333333;
}
@media screen and (min-width:768px){
    .list{
        gap: 44px;
    }
}