.wrapper {
    width: 100%;
    margin: 0 auto;
}

.titleWrapper {
    padding: 114px 16px 0;
    max-width: 375px;
    margin: 0 auto;
}

.favSection {
    padding: 50px 16px 40px;
}

@media screen and (min-width: 768px) {

    .titleWrapper {
        padding: 136px 32px 0;
        max-width: 768px;
        margin: 0 auto;
    }

    .favSection {
        padding: 100px 32px 50px;
    }
}

@media screen and (min-width: 1440px) {

    .titleWrapper {
        padding: 164px 100px 0;
        max-width: 1440px;
    }

    .favSection {
        padding: 100px 100px 50px;
    }
}