.wrapper {
  background-image: url('../../../src/images/bgc/start_corner_mob_1x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100px -30px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .wrapper {
    background-image: url('../../../src/images/bgc/start_corner_mob_2x.png');
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    background-image: url('../../../src/images/bgc/start_corner_tab_1x.png');
    background-position: 490px -130px;
    background-size: 50%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper {
      background-image: url('../../../src/images/bgc/start_corner_tab_2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    /* width: 1440px; */
    width: 100%;
    margin: 0 auto;
    background-image: url('../../../src/images/bgc/start_corner_desk_1x.png'), url('../../../src/images/bgc/start_lefttop_tab_1x.png');
    /* background-position: 750px 0px; */
    background-position: 100% 0px, 0px 20px;
    background-size: 912px, 8%;

     /* background-image: url('../../../src/images/bgc/start_lefttop_tab_1x.png');
    background-position: 0px 20px;
    background-size: 8%; */
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper {
      background-image: url('../../../src/images/bgc/start_corner_desk_2x.png');
    }
  }
}

.wrapper_leaf {
  background-image: url('../../../src/images/bgc/start_midle_mob-tab_1x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 10px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .wrapper_leaf {
    background-image: url('../../../src/images/bgc/start_midle_mob-tab_2x.png');
  }
}
@media screen and (min-width: 768px) {
  .wrapper_leaf {
    background-position: 400px -80px;
    background-size: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper_leaf {
    /* width: 1440px; */
    width: 100%;
    margin: 0 auto;
    background-image: url('../../../src/images/bgc/start_midle_desk_1x.png');

    background-position: 90% 270px;
    /* background-size: 68%: */
    background-size: 630px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper_leaf {
      background-image: url('../../../src/images/bgc/start_midle_desk_2x.png');
    }
  }
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 777px;
  display: flex;
  flex-direction: column;
  background-image: url('../../../src/images/bgc/salt_mob_1x.png');
  background-repeat: no-repeat;
  background-position: 28px 322px;
  background-size: 320px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .container {
    background-image: url('../../../src/images/bgc/salt_mob_2x.png');
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 768px;
    height: 640px;
    flex-wrap: wrap;
    background-image: url('../../../src/images/bgc/salt_tab_1x.png');
    background-position: 400px 159px;
    background-size: 378px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container {
      background-image: url('../../../src/images/bgc/salt_tab_2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
    /* width: 1440px; */
    height: 800px;
    /* margin: 0 auto; */
    background-image: url('../../../src/images/bgc/salt_desk_1x.png');
    /* background-position: 710px 110px; */
    background-position: 85% 110px;
    background-size: 578px;
    flex-direction: column;
  }
  .content {
    width: 1440px;
     /* margin: 0 auto; */
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container {
      background-image: url('../../../src/images/bgc/salt_desk_2x.png');
    }
  }
}

.title_start {
  color: #8baa36;
}

.title {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.005em;
  padding-left: 36px;
  font-weight: 400;
  color: #22252a;
  padding-top: 132px;
  padding-bottom: 14px;
  background-image: url('../../images/bgc/start_lefttop_mob_1x.png');
  background-repeat: no-repeat;
  background-size: 12%;
  background-position: 0px 28px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .title {
    background-image: url('../../../src/images/bgc/start_lefttop_mob_2x.png');
  }
}

@media screen and (min-width: 768px) {
  .title {
    padding-top: 204px;
    padding-left: 32px;
    padding-bottom: 24px;
    font-size: 72px;
    text-align: start;
    line-height: 72px;
    /* background-image: url('../../../src/images/bgc/start_lefttop_tab_1x.png');
    background-position: 0px 20px;
    background-size: 8%; */
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title {
      background-image: url('../../../src/images/bgc/start_lefttop_tab_2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .title {
    padding-top: 226px;
    padding-left: 100px;
    padding-bottom: 14px;
    text-align: start;
    font-size: 100px;
    line-height: 100px;
    background-image: url('../../../src/images/bgc/start_lefttop_desk_1x.png');
    background-position: 0 8px;
    background-size: 7%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title {
      background-image: url('../../../src/images/bgc/start_lefttop_desk_2x.png');
    }
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 63px 0 64px;
}

@media screen and (min-width: 768px) {
  .text {
    width: 362px;
    margin: 0px 0 0 38px;
    padding: 0;
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    width: 465px;
    font-size: 18px;
    margin-left: 107px;
    text-align: start;
    line-height: 24px;
    margin-bottom: 0;
  }
}
