

.container {
display: flex;
flex-direction: column;
background-image: url('../../../src/images/hero-mob.jpg');
background-repeat: no-repeat;
background-position: 28px 322px;
margin-bottom: 157px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .container {
    background-image: url('../../../src/images/hero-mob@2x.jpg');
  }
}

.title_start {
    font-weight: 400;
    color:#8BAA36;
   
}

.title {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.005em;
    text-align: center;
    font-weight: 700;
    color:#22252A;
    padding-top: 132px;
}

.text {
  
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: center;
    padding: 14px 63px 0 64px;

}