.wrapper {
  width: 100%;
  margin: 0 auto;
  background-image: url('../../../src/images/bgc/start_corner_mob_1x.png'),
    url('../../../src/images/bgc/start_lefttop_mob_1x.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 269px, 15%;
  background-position: 100% 150px, 0 15px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .wrapper {
    background-image: url('../../../src/images/bgc/start_corner_mob_2x.png'),
      url('../../../src/images/bgc/start_lefttop_mob_2x.png');
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    background-image: url('../../../src/images/bgc/start_corner_tab_1x.png'),
      url('../../../src/images/bgc/start_lefttop_tab_1x.png');
    background-position: 100% 0px, 0 0px;
    background-size: 340px, 8%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper {
      background-image: url('../../../src/images/bgc/start_corner_tab_2x.png'),
        url('../../../src/images/bgc/start_lefttop_tab_2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    background-image: url('../../../src/images/bgc/start_corner_desk_1x.png'),
      url('../../../src/images/bgc/start_lefttop_desk_1x.png');
    background-position: 100% 0px, 0 0px;
    background-size: 695px, 7%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper {
      background-image: url('../../../src/images/bgc/start_corner_desk_2x.png'),
        url('../../../src/images/bgc/start_lefttop_desk_2x.png');
    }
  }
}

.wrapper_leaf {
  width: 100%;
  margin: 0 auto;
  background-image: url('../../../src/images/bgc/start_midle_mob-tab_1x.png');
  background-repeat: no-repeat;
  background-size: 375px;
  background-position: 100% 53px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .wrapper_leaf {
    background-image: url('../../../src/images/bgc/start_midle_mob-tab_2x.png');
  }
}
@media screen and (min-width: 768px) {
  .wrapper_leaf {
    width: 100%;
    margin: 0 auto;
    background-image: url('../../../src/images/bgc/start_middle_tab_1x.png');
    background-position: 100% 0px;
    background-size: 570px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper_leaf {
    width: 100%;
    margin: 0 auto;
    background-image: url('../../../src/images/bgc/start_midle_desk_1x.png');
    background-position: 100% 56px;
    background-size: 810px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper_leaf {
      background-image: url('../../../src/images/bgc/start_midle_desk_2x.png');
    }
  }
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 777px;
  display: flex;
  flex-direction: column;
  background-image: url('../../../src/images/bgc/salt_mob_1x.png');
  background-repeat: no-repeat;
  background-position: 28px 322px;
  background-size: 320px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .container {
    background-image: url('../../../src/images/bgc/salt_mob_2x.png');
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 768px;
    height: 640px;
    flex-wrap: wrap;
    background-image: url('../../../src/images/bgc/salt_tab_1x.png');
    background-position: 390px 146px;
    background-size: 378px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container {
      background-image: url('../../../src/images/bgc/salt_tab_2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    background-image: url('../../../src/images/bgc/salt_desk_1x.png');
    background-position: 700px 100px;
    background-size: 578px;
    flex-direction: column;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container {
      background-image: url('../../../src/images/bgc/salt_desk_2x.png');
    }
  }
}

.title_start {
  color: #8baa36;
}

.title {
  font-family: 'Poppins_Regular';
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.005em;
  padding-left: 36px;
  font-weight: 400;
  color: #22252a;
  padding-top: 132px;
  padding-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .title {
    padding-top: 186px;
    padding-left: 32px;
    padding-bottom: 24px;
    font-size: 72px;
    text-align: start;
    line-height: 72px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    padding-top: 226px;
    padding-left: 100px;
    padding-bottom: 14px;
    text-align: start;
    font-size: 100px;
    line-height: 100px;
  }
}

.text {
  font-family: 'Poppins_Regular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 63px 0 64px;
}

@media screen and (min-width: 768px) {
  .text {
    width: 362px;
    margin: 0px 0 0 38px;
    padding: 0;
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    width: 465px;
    font-size: 18px;
    margin-left: 107px;
    text-align: start;
    line-height: 24px;
    margin-bottom: 0;
  }
}
