.section {
  padding-bottom: 50px;
}
.sectionSearch {
  padding-bottom: 100px;
}
.container {
  width: 100%;
  padding: 50px 16px 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .section {
    padding-bottom: 50px;
  }
  .sectionSearch {
    padding-bottom: 100px;
  }
  .container {
    width: 100%;
    padding: 50px 16px 0 16px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 40px;
  }
  .container {
    width: 768px;
    padding: 18px 32px 0 32px;
  }
  .sectionSearch {
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 50px;
  }
  .container {
    width: 100%;
    padding: 50px 100px 0 100px;
  }
  .sectionSearch {
    padding-bottom: 200px;
  }
}
