.input{
    width: 295px;
    height: 53px;
    fill: #FFF;
    stroke-width: 1px;
    filter: drop-shadow(0px 4px 97px rgba(34, 37, 42, 0.03));
    border-radius: 24px 44px;
    outline: none;
    border: 0 solid;
    padding: 16px 32px;
    color: #3E4462;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.button{
    background-color: transparent;
    color: #FAFAFA;
    border-radius: 24px 44px;
    border: 1px solid green;
    height: 53px;
    width: 113px;
    background-color: #8BAA36;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    position: absolute;
    border: none;
    right:  0;
}
.inputWrap{
    position: relative;
    width: 295px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.form{
    text-align: center;
}
.label{
    color: #001833;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.24px;
    margin-right: 15px;
}
.select{
    border: none;
    opacity: 0.16;
    width: 146px;
    height: 34px;
    display: flex;
    background-color: #D9D9D9;
    gap: 80px;
    align-items: center;
    padding-left: 14px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
}
.selectWrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 223px;
    position: relative;
    
    
}
.optionWrap{
    width: 146px;
    height: 62px;
    background-color: #FAFAFA;
    position: absolute;
    top: 34px;
    right: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 0px 0px 6px 6px;
    
}
.text{
    margin-left: 9px;
    color: #001833;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.24px;
    opacity: 0.16;  
    border-radius: 0px 0px 6px 6px;
    background-color: #FAFAFA; 
}
.textWrap{
    
    
}