.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 200px;
  right: 35px;
  z-index: 1111;
  padding: 32px 24px;
  width: 330px;
  background-color: rgba(250, 250, 250, 1);
  box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}
.avatarLabel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  margin-left: 97px;
  margin-bottom: 34px;

  @media screen and (min-width: 768px) {
    width: 103px;
    height: 103px;
    margin-left: 150px;
    margin-bottom: 30px;
  }
}
.avatarContainer {
  width: 100%;
  background-color: rgba(217, 217, 217, 1);
  color: transparent;
  border-radius: 50%;

  cursor: pointer;
}
.addAvatarUrl {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 71px;
  left: 53px;
  z-index: 1112;
  cursor: pointer;
  &:hover {
    scale: 1.1;
  }
}

.input {
  height: 48px;
  width: 100%;
  border-style: solid;
  opacity: 30%;
  border-color: rgba(35, 38, 42, 1);
  display: inline-flex;
  padding: 15.4px 14px 11.84px 40px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  border-radius: 6px;
  border-width: 1px;
  &:hover,
  &:focus {
    opacity: 80%;
  }
}

input[type='file']::file-selector-button {
  display: none;
}

.avatarImage {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label {
  position: relative;
}
.label:hover,
.label:focus {
  & svg {
    opacity: 80%;
  }
}
.svgbefore,
.svgafter {
  width: 18px;
  height: 18px;
  position: absolute;
  stroke: black;
  opacity: 0.3;
  top: 31%;
  left: 14px;
}
.svgafter {
  left: 251px;
}

.cross {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -18px;
  left: 170px;
  z-index: 11112;
  cursor: pointer;
}

.UserLogoutModalButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(139, 170, 54, 1);
  color: rgba(35, 38, 42, 1);
  padding: 21px 39px;
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: 0px;
  text-align: center;

  &:hover {
    color: rgba(250, 250, 250, 1);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 480px;
    padding: 50px 40px;
    top: 80px;
    right: 120px;
  }
  .cross {
    width: 24px;
    height: 24px;
    top: -30px;
    left: 247px;
  }
  .input {
    height: 58px;
    font-size: 18px;
    padding: 16px 20px 16px 51px;
  }
  .svgbefore,
  .svgafter {
    width: 24px;
    height: 24px;
    top: 25%;
    left: 20px;
  }
  .svgafter {
    left: 363px;
  }

  .addAvatarUrl {
    left: 73px;
    top: 81px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 500px;
    padding: 60px 50px;
    top: 80px;
    right: 130px;
  }
  .cross {
    top: -35px;
    left: 255px;
  }
}
