.container {
  min-width: 375px;
  width: 100%;
  padding: 0 16px 0 16px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

.wrapper {
  width: 375px;
  max-width: 100%;
  padding-top: 50px;

  /* padding-bottom: 100px; */

  margin-left: auto;
  margin-right: auto;
}

.pagin_container {
  width: 375px;
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.wrapper_leaf {
  position: relative;
}

.leaf_bg {
  background-image: url('../../images/bgc/404_spinach_top_bg_mob_1x.png');
  width: 256px;
  height: 392px;
  position: absolute;

  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: bottom -190px left 0;
  background-size: contain;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .leaf_bg {
    width: 256px;
    height: 392px;
    background-image: url('../../images/bgc/404_spinach_top_bg_mob_2x.png');
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px 0 32px;
  }
  .pagin_container {
    width: 768px;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 100px 0 100px;
  }

  .pagin_container {
    width: 1440px;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .wrapper {
    width: 768px;
    padding-top: 100px;

    /* padding-bottom: 200px; */
  }
  .pagin_container {
    width: 768px;
    margin-bottom: 140px;
  }

  .leaf_bg {
    background-image: url('../../images/bgc/404_spinach_top_bg_tab_1x.png');
    width: 423px;
    height: 646px;
    position: absolute;

    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom -310px left 0;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .leaf_bg {
      width: 423px;
      height: 646px;
      background-image: url('../../images/bgc/404_spinach_top_bg_tab_2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 1440px;
    padding-top: 64px;
    /* padding-bottom: 195px; */
  }
  .pagin_container {
    width: 1440px;
    z-index: 10;
    position: relative;
  }

  .leaf_bg {
    background-image: url('../../images/bgc/404_spinach_top_bg_desk_1x.png');
    width: 558px;
    height: 852px;
    position: absolute;

    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom -400px left -20px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .leaf_bg {
      width: 558px;
      height: 852px;
      background-image: url('../../images/bgc/404_spinach_top_bg_desk_2x.png');
    }
  }
}
