.descriptionFieldWrapper {
    margin-bottom: 67px;
} 

.imgWrapper {
    position: relative;
    width: 279px;
    height: 268px;
    margin: 0 auto 32px;
    background-color: #8BAA36;
    border-radius: 8px;
} 

.imgInput {
    width: 279px;
    height: 260px;
    margin-top: 8px;
    opacity: 0;
}

.mockImg {
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

.recipeImg {
    width: 279px;
    height: 268px;
    object-fit: cover;
    border-radius: 8px;
    position: absolute;
    top: 0;
}

.inputBox {
    margin-bottom: 24px;
}

.inputRaw {
    width: 343px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 18px;
    outline: none;

    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
}

.inputRaw::placeholder {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
}

.selectBox {
    width: 343px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 18px;
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
    position: relative;
}

.selectLabel {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
}

.selectVariantsBox {
    width: 120px;
    height: 43px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrow {
    color: #8BAA36;
}


.selectVariants {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #000000;
    cursor: pointer;
}

.selectList {
    width: 123px;
    height: 144px;
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 70%;
    padding: 8px 14px;
    box-shadow: 0px 6.51852px 7.82222px rgba(0, 0, 0, 0.0314074);
    border-radius: 6px;
    overflow-y: scroll;
    z-index: 3;
}

.selectItem {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
    cursor: pointer;
}

.selectItem :not(:last-child) {
    margin-bottom: 4px;
}

.selectItem :hover {
    color: #8BAA36;
}

.errorMsg {
    margin-top: 8px;
    color: red;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .descriptionFieldWrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .imgWrapper {
        margin: 0;
    }

    .inputsWrapper {
        width: 393px;
    }

    .inputBox {
        margin-bottom: 32px;
    }

    .inputRaw {
        width: 393px;
        height: 43px;
        font-size: 18px;
    }
    .inputRaw::placeholder {
        font-size: 18px;
    }

    .selectBox {
        width: 393px;
        height: 43px;
        margin-bottom: 32px;
    }

    .selectLabel {
        font-size: 18px;
    }

    .arrow {
        width: 20px;
        height: 20px;
    }

    .selectVariants {
        font-size: 18px;
    }

    .selectList {
        width: 132px;
        height: 162px;
    }

    .selectItem {
        font-size: 14px;
    }

}

@media screen and (min-width: 1440px) {
    .imgWrapper {
        width: 357px;
        height: 344px;
        margin-right: 50px;
    }

    .imgInput {
        width: 357px;
        height: 344px;
        margin-top: 9px;
    }

    .recipeImg {
        width: 357px;
        height: 344px;
    }

    .inputBox {
        margin-bottom: 40px;
    }

}