.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #3E4462;
} 

.recipeTextarea {
    width: 343px;
    min-height: 154px;
    padding: 10px 16px;
    margin: 24px 0 18px;
    background-color: #D9D9D9;
    outline: none;
    border: none;
    border-radius: 6px;
    resize: none;

    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
} 

.recipeTextarea::placeholder {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
}

.recipeTextarea:focus {
    opacity: 1;
}

.errorText {
    margin-bottom: 18px;
    color: brown;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .recipeTextarea {
        width: 505px;
        min-height: 224px;
        padding: 16px 22px;
        margin: 32px 0;
        font-size: 18px;
    }
    .recipeTextarea::placeholder {
        font-size: 18px;
    }
    .errorText {
        font-size: 14px;
        margin-bottom: 32px;
    }

}

