.ingredientsFieldWrapper {
    padding-bottom: 44px;
 }

.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #3E4462;
 }

.subtitleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.ingredientsCounter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 92px;
    height: 28px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 18px;
}

.counterBtn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.counterBtnIcon {
    width: 14px;
    height: 14px;
    color: #8BAA36;
}

.counterValue {
    font-family: 'Poppins_Regular';
    font-size: 14px;
    line-height: 1.3;
    color: #333333;
}

.ingredientItem {
    width: 343px;
    display: flex;
    align-items: baseline;
}
.ingredientItem:not(:last-child) {
    margin-bottom: 18px;
}

.ingredientNameField {
    display: flex;
    justify-content: center;
}

.ingredientInputBox {
 display: flex;
 position: relative;
 margin-bottom: 0;
}

.ingredientNameInput {
    display: block;
    font-family: 'Poppins_Regular';
    width: 194px;
    height: 53px;
    margin-bottom: 0;
    margin-right: 14px;
    padding: 16px;
    background-color: #D9D9D9;
    border-radius: 6px;
    border: none;
    outline: none;

    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
}

.ingredientNameInput:focus {
    opacity: 1;
}

.selectIngredients {
    width: 194px;
    height: 154px;
    position: absolute;
    z-index: 3;
    background: #FFFFFF;
    box-shadow: 0px 6.51852px 7.82222px rgba(0, 0, 0, 0.0314074);
    border-radius: 6px;
    overflow-y: scroll;
    padding: 8px 18px;
    list-style: none;
}

.selectIngredientItem {
    font-family: 'Poppins_Regular';
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
    cursor: pointer;
}
.selectIngredientItem:not(:last-child) {
    margin-bottom: 6px;
}


.ingredientQuantityField {
    position: relative;
    font-family: 'Poppins_Regular';
    width: 84px;
    height: 53px;
    margin-right: 33px;
    cursor: pointer;
}

.ingredientQuantityInput {
    width: 84px;
    height: 53px;
    padding: 16px 0 16px 10px;
    background-color: #D9D9D9;
    outline: none;
    border: none;
    border-radius: 6px;

    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #23262A;
    opacity: 0.5;
}

.ingredientQuantityInput:focus {
    opacity: 1;
}

.selectBox {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 4px 16px 0px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 44px;
    height: 53px;
    outline: none;
    border: none;
    border-radius: 6px;
    /* opacity: 0.5; */
}

.selectBox:focus {
    opacity: 1;
}

.arrow {
    color: #8BAA36;
}

.arrowIngr {
    position: absolute;
    right: calc(0% + 23px);
    top: calc(50% - 10px);
    color: #8BAA36;
    width: 20px;
}

.selectLabel {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #333333;
}

.selectQuantityList {
    width: 84px;
    height: 154px;
    padding: 8px 18px;
    background-color: #FFFFFF;
    box-shadow: 0px 6.51852px 7.82222px rgba(0, 0, 0, 0.0314074);
    border-radius: 6px;
    z-index: 5;
    position: absolute;
    overflow-y: scroll;
    list-style: none;
}

.selectQuantityItem {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
}
.selectQuantityItem:not(:last-child) {
      margin-bottom: 4px;
  }
.selectQuantityItem:hover,
.selectQuantityItem:focus {
    color: #8BAA36;
  }

.deleteBtn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.deleteBtnIcon {
    color: #333333;
}

.errorMsg {
    margin-top: 8px;
    color: red;
    font-size: 12px;
}



 @media screen and (min-width: 768px) {
    .ingredientsFieldWrapper {
        padding-bottom: 100px;
    }

    .subtitleWrapper {
        margin-bottom: 32px;
    }

    .ingredientsCounter {
        width: 110px;
        height: 32px;
    }

    .counterBtnIcon {
        width: 18px;
        height: 18px;
    }

    .counterValue {
        font-size: 16px;
        line-height: 1.5;
    }

    .ingredientItem {
        width: 704px;
    }

    .ingredientItem:not(:last-child) {
        margin-bottom: 24px;
    }

    .ingredientNameInput {
        width: 398px;
        height: 59px;
        margin-right: 32px;
        margin-bottom: 0;
        font-size: 18px;
    }

    .arrowIngr {
        right: calc(0% + 50px);
        top: calc(50% - 10px);
    }

    .selectIngredients {
        width: 398px;
        height: 172px;
    }

    .selectIngredientItem {
        font-size: 14px;
    }

    .ingredientQuantityField {
        min-width: 100px;
        height: 59px;
        margin-right: 157px;
    }

    .ingredientQuantityInput {
        width: 100%;
        height: 100%;
        font-size: 18px;
        padding: 16px;
    }

    .selectBox {
        width: 50px;
        height: 100%;
        background-position: 22px;
        padding: 16px 4px 16px 0px;
    }
    .arrow {
        width: 20px;
        height: 20px;
    }

    .selectLabel {
        font-size: 18px;
    }

    .selectQuantityList {
        width: 100%;
        height: 154px;
    }

    .selectQuantityItem {
        font-size: 14px;
    }
 }


 @media screen and (min-width: 1440px) {
    .subtitleWrapper {
        width: 609px;
    }

    .ingredientItem {
        width: 609px;
    }

    .ingredientQuantityField {
        margin-right: 60px;
    }
 }