.Registration__Section {
  background-image: url(../../images/login/woman_mob_1x.png),
    url(../../images/login/reg-bgc_mob_1x.png);
  background-repeat: no-repeat;
  background-position: top 87px center, bottom;
  background-size: 285px 250px, 100% 490px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../../images/login/woman_mob_2x.png),
      url(../../images/login/reg-bgc_mob_2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../../images/login/woman_tab_1x.png),
      url(../../images/login/reg-bgc_tab_1x.png);
    background-position: top 96px center, bottom;
    background-size: 409px 359px, 100% 606px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../../images/login/woman_tab_2x.png),
        url(../../images/login/reg-bgc_tab_2x.png);
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url(../../images/login/woman_desk_1x.png),
      url(../../images/login/reg-bgc_desk_1x.png);
    background-position: top 115px left 113px, bottom;
    background-size: 532px 468px, 100% 325px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../../images/login/woman_desk_2x.png),
        url(../../images/login/reg-bgc_desk_2x.png);
    }
  }
}

.Registration__container {
  text-align: center;
  margin: 0 auto;
  padding: 305px 20px 118px 20px;
  min-height: 812px;

  @media screen and (max-width: 767.8px) {
    max-width: 375px;
  }

  @media screen and (min-width: 768px) {
    padding: 443px 134px 59px 134px;
    width: 768px;
    min-height: 1024px;
  }

  @media screen and (min-width: 1440px) {
    padding: 122px 180px 122px 760px;
    width: 1440px;
    min-height: 770px;
  }
}

.Registration__form {
  margin-bottom: 18px;

  width: 100%;

  padding: 32px 28px 40px 28px;

  border-radius: 30px;
  background: #2a2c36;
  box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 767.8px) {
    max-width: 335px;
  }

  @media screen and (min-width: 768px) {
    padding: 44px 50px;
    width: 500px;
  }
}

.Registration__title {
  display: block;
  margin-bottom: 18px;

  text-align: left;

  color: #fafafa;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.48px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    font-size: 28px;
    line-height: 1.07;
    letter-spacing: -0.56px;
  }
}

.Registration__label {
  display: block;
}

.Registration__label:nth-of-type(1),
.Registration__label:nth-of-type(2) {
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.Registration__label:nth-of-type(3) {
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.Registration__input {
  padding: 12px 12px 12px 40px;

  width: 100%;
  height: 45px;

  letter-spacing: -0.28px;
  color: #fafafa;
  opacity: 0.8;
  border: 1px solid #686a71;
  border-radius: 4px;
  outline: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    height: 59px;
    padding: 16px 16px 16px 50px;
    font-size: 18px;
    letter-spacing: -0.36px;
  }

  transition: border-color 250ms linear, color 250ms linear;
}

.Registration__input:hover,
.Registration__input:focus {
  border-color: #ffffff;
  color: #ffffff;
}

.Registration__input::placeholder {
  color: #fafafa;
  opacity: 0.8;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.Registration__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 12px;

  height: 45px;

  width: 100%;

  color: #fafafa;
  text-align: center;
  font-size: 16px;
  line-height: 1.13;

  border: none;
  cursor: pointer;
  border-radius: 6px;
  background: #8baa36;

  @media screen and (min-width: 768px) {
    height: 56px;
    padding: 21px;
  }

  @media screen and (min-width: 1440px) {
    height: 59px;
  }

  transition: color 250ms linear;
}

.Registration__button:hover,
.Registration__button:focus {
  color: #22252a;
}

.Registration__link {
  padding: 5px;
  color: #fafafa;

  text-decoration: underline;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.Registration__link:hover,
.Registration__link:focus {
  color: #8baa36;
}

.Registration__error {
  position: absolute;
  margin-top: 2px;

  font-size: 8px;
  color: #e74a3b;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.Registration__input_success {
  opacity: 1;
  border-color: #3cbc81;
}

.Registration__input_error {
  opacity: 1;
  border-color: #e74a3b;
}

.Registration__inputwrapper {
  position: relative;
}

.Registration__svg {
  position: absolute;

  top: 13.5px;
  left: 14px;

  stroke: #fafafa;
  opacity: 0.8;

  @media screen and (min-width: 768px) {
    top: 17.5px;
    left: 18px;

    width: 24px;
    height: 24px;
  }

  transition: stroke 250ms linear, opacity 250ms linear;
}

.Registration__input:hover + .Registration__svg,
.Registration__input:focus + .Registration__svg {
  stroke: #ffffff;
  opacity: 1;
}

.Registration__svg_succ,
.Registration__svg_err {
  position: absolute;

  right: 20px;
  top: 18px;

  opacity: 0;
}

.Registration__svg_succ.Registration__svg_success {
  opacity: 1;
  stroke: #3cbc81;
}

.Registration__svg_err.Registration__svg_error {
  opacity: 1;
  stroke: #e74a3b;
}
