.title {
  color: #001833;
  font-family: 'Poppins_SemiBold', sans-serif;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.56px;
}
.firstGreen {
  position: absolute;
  bottom: 56px;
  left: 130px;
  width: 8px;
  height: 8px;
}
.black {
  position: absolute;
  bottom: 0;
  left: 55%;
  width: 7px;
  height: 7px;
}
.lastGreen {
  position: absolute;
  bottom: 28px;
  right: 16px;
  width: 8px;
  height: 8px;
}

@media screen and (min-width: 375px) {
  .title {
    color: #001833;
    font-family: 'Poppins_SemiBold', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.56px;
  }
  .firstGreen {
    position: absolute;
    bottom: 56px;
    left: 130px;
    width: 8px;
    height: 8px;
  }
  .black {
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 7px;
    height: 7px;
    border-radius: 3px;
  }
  .lastGreen {
    position: absolute;
    bottom: 28px;
    right: 16px;
    width: 8px;
    height: 8px;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.64px;
  }
  .firstGreen {
    bottom: 64px;
    left: 187px;
    width: 18px;
    height: 18px;
  }
  .black {
    left: 53%;
    width: 12px;
    height: 12px;
  }
  .lastGreen {
    bottom: 52px;
    right: 32px;
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 44px;
    line-height: 44px;
    letter-spacing: -0.88px;
  }
  .firstGreen {
    bottom: 74px;
    left: 328px;
  }
  .black {
    left: 55%;
  }
  .lastGreen {
    bottom: 70px;
    right: 171px;
  }
}
