.tabs_button {
  color: #e0e0e0;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin-top: 50px;
  margin-left: 12px;
}

.img {
  width: 343px;
  height: 323px;
  border-radius: 8px;
}

.list_item {
  position: relative;

  transition: transform 500ms ease;
  cursor: pointer;
}

.list_item:hover,
.list_item:focus {
  transform: scale(1.02);
}
.title_wrapp {
  position: absolute;
  width: 307px;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  left: 18px;
  bottom: 26px;
  display: flex;
  align-items: center;
}
.title {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #3e4462;
}

.svg {
  width: 1600px;
}
@media screen and (min-width: 375px) {
  .img {
    width: 343px;
  }
  .title_wrapp {
    width: 307px;
  }
  .tab_list {
    margin-left:16px;
    color: #e0e0e0;
    border-bottom: solid 1px;
  }

  .tabs_list {
    margin-top: 32px;
    display: grid;
    justify-content: center;
    grid-template-columns: 343px;
    grid-template-rows: 323px;
    row-gap: 28px;
  }
}

@media screen and (min-width: 768px) {
  .img {
    width: 336px;
  }
  .title_wrapp {
    width: 300px;
  }
  .tab_list {
    margin-left: 32px;
  }
  .tabs_button {
    color: #e0e0e0;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 50px;
    margin-left: 14px;
    margin-right: 9px;
  }
  .tabs_list {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 336px 336px;
    grid-template-rows: 323px;
    column-gap: 32px;
    row-gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .img {
    width: 300px;
  }

  .title_wrapp {
    width: 268px;
  }
    .tab_list{
      margin-left: 100px;
    }
  .tabs_list {
    display: grid;
    align-items: center;

    justify-content: center;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 323px;
    column-gap: 12px;
    row-gap: 100px;
  }
}
