.container {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    position: relative;
   }
    @media screen and (min-width: 768px) {
     .container {
        margin-bottom: 38px;
        padding-top: 72px;
        margin-left: 155px;
        margin-right: 0;
        }
    }

    @media screen and (min-width: 1440px) {
     .container {
        width: 339px;
        flex-direction: column;
        margin-bottom: 0;
        margin-left: 123px;
        margin-right: 155px;
        padding: 0;
        }
        }    

.wrapper {
   display: none;
   padding-top: 0;
}
    
  @media screen and (min-width: 1440px) {
    .wrapper {
     display: block;
     padding-top: 0;
        }
    }   
    
.title{
 font-size: 18px;
 font-weight: 700;
 line-height: 27px;
 letter-spacing: 0em;
 text-align: left;
 padding-bottom: 14px;

}  

.text {
 font-size: 14px;
 font-weight: 400;
 line-height: 18px;
 letter-spacing: -0.02em;
 text-align: left;
}

.form {
 width: 204px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
       
}

 @media screen and (min-width: 768px) {
    .form {
     width: 458px;
     height: 50px;
     flex-direction:row;
     align-items: normal;
        }
        .text {
            line-height: 21px;
        }
    }  

 @media screen and (min-width: 1440px) {
        .form {
       width: 339px;
       height: 135px;
       flex-direction:column;
       margin-top: 28px;
       
        }
    } 

.input {
    width: 204px;
    height: 38px;
    padding: 10px 0 10px 42px; 
    border-radius: 6px;
    margin-bottom: 8px;
    outline: none;
    border: 1px solid #686a71;
    background-color: transparent;
    color: #FAFAFA;
} 

.input::placeholder {
  
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
    opacity: 1;
        
}
@media screen and (min-width: 768px) {
    .input {
        width: 259px;
        height: 50px;
        padding: 14.5px 51px; 
        line-height: 21px;
        font-size: 14px;
        margin: 0;
             
    }
    .input::placeholder {
        line-height: 21px;
        font-size: 14px;
        
    }
   
}

@media screen and (min-width: 1440px) {
    .input {
        width: 338px;
        height: 59px;
        font-size: 18px;
        line-height: 27px;
        padding-left: 52px;
        margin-bottom: 16px;
    }

    .input::placeholder {
        line-height: 27px;
        font-size: 18px;
        
    }
}

.input_success {
    opacity: 1;
    border-color: #3cbc81;
  }
  
  .input_error {
    opacity: 1;
    border-color: #e74a3b;
  }

.btn {
    width: 204px;
    height: 38px;
    color: #FAFAFA;
    background-color: #8BAA36;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    cursor: pointer;

}
.btn:hover{
    color: #22252A;
}    

.btn_disabled {
    color: #22252A;
    
}
.btn_disabled:hover {
    color: #22252A;
}

@media screen and (min-width: 768px) {
    .btn {
        margin-left: 12px;
        width: 187px;
        height: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .btn {
        width: 339px;
        height: 60px;
        margin-left: 0;
        font-size: 16px;
        
    }
}
.label {
    position: relative;
}

.icon {
    width: 16px;
    height: 12px;
    position: absolute;
    top: 14px;
    left: 14px;
   fill: #FAFAFA;
  
}

@media screen and (min-width: 768px) {
    .icon {
        width: 20px;
        height: 16px;
        top: 17px;
        left: 15px;
       
    }
}
@media screen and (min-width: 1440px) {
    .icon {
        top: 21.5px;
        left: 15.5px;
           
    }
}